<nav class="workbench-search">
    <div class="workbench-settings icon">
        <button
            type="button"
            class="icon-settings"
            (click)="onClickSettings()"
            title="Settings for editing - Theme or Citation">
            <i class="psmenu-icon" title="Settings for editing"></i>
        </button>
    </div>
    <div class="workbench-title">
        {{searchType}}
        <div class="settings">
            <h3>Search Type:</h3>
            <div class="settings-selector" *ngFor="let item of searchTypes; index as i">
                @if (i > 0) {
                <button
                    type="button"
                    class="icon icon-circle-{{i == activeType ? 'checked' : 'unchecked'}}"
                    (click)="onRadioClickSettings(i)">
                        <i class="psmenu-icon"></i>    
                </button>
                <span>{{item}}</span>
                }
            </div>
        </div>
    </div>
</nav>
<section>
    @if(activeType == 1 || activeType == 2) {
    <app-search-scripture [activeType]=activeType></app-search-scripture>
    }
    @else if(activeType == 0) {
    <app-cite-scripture></app-cite-scripture>
    }
</section>