
.modal {
    display: none;
    position: relative;
    z-index: 1;
    left: 2px;
    top: 2px;
    width: 200px;
    height: 200px;
    overflow-y: auto;
    background-color: lightgray;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 5px;
    border: 1px solid #888;
    width: 80%;
}
ul.command-suggestions {
    list-style-type: none;
    cursor: pointer;
    padding-left: 10px;
}

.command-suggestions li.hover {
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

section.scrollable-content {
    height:calc(100vh);
    width:100%;
}
div.search-results { width:100%; overflow-y: scroll; }
.search-results table {
    width: 100%;
}

.search-results thead th  {
    background:rgb(1, 1, 110); border-top: 1px solid white;
    color:white;
    font-weight: bold;
    font-family:Verdana,sans-serif;font-size:12pt;
    overflow-x:auto;
    display:table-cell;
}

.search-results tbody th,.search-results tbody td {
    border-top: 1px solid rgb(1, 1, 110);
    border-right: 1px solid rgb(1, 1, 110);
}
.prevent-text-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

th.citation-label {
    text-align:left;
}

th.citation { background:none; text-align:left; font-weight: bold; }

th.scripture-label {
    text-align:center;
}

td.scripture { text-justify:left; }

span.search-text { color: black; background: none;}

span.search-match { color: darkblue; background: gold; font-weight:bold; border-top: 1px solid white; border-left: 1px solid white; border-right: 1px solid black; border-bottom: 1px solid black; }

tr[aria-checked="true"] { cursor: pointer; background-color: rgba(3, 213, 250, 0.719); position: relative;}
tr[aria-checked="false"] { cursor: pointer; background-color: none; position: relative;}

app-search-context-menu.modal-context {position:relative; display:block; top: 10px; left: 100px; z-index: 1}
app-search-context-menu.modal-context.hidden {position:relative; display:none; z-index:1}
app-search-context-menu {position:relative;}
div.modal-context {position:absolute;}

