<nav class="scripture-range-editor">
    @if (createCitation) {
    <div class="workbench-settings">
        <i class="citation save-icon" (click)="CreateCitation()" title="Create a new citation"></i>
    </div>
    <input id="description" type="text" class="command-line" placeholder="Citation Description" title="The description of the Citation">
    }
    <!-- <app-search-context-menu class="modal-context hidden" [callbacks]=callbacks [selectedEntry]=selectedEntry></app-search-context-menu> -->
    <div class="command-message"></div>
</nav>
<section class="command-Section">
        <div class="command-labels">
        <div class="command-label" style="width:24px;">&nbsp;</div>
        <div class="command-label book" [ngStyle]="{ width: widthBook }"><label>Book</label></div>
        <div class="command-label chapter" [ngStyle]="{ width: widthChapter }"><label>Chapter</label></div>
        <div class="command-label verse" [ngStyle]="{ width: widthChapter }"><label>Verse</label></div>
        <div class="command-label end-verse" [ngStyle]="{ width: widthChapter }"><label>End Verse</label></div>
    </div>
    <div class="command-fields">
            <div class="command icon" style="width:24px;">
            <img class="add-icon" style="width:24px;" src="/assets/images/Add.png" (click)=runAdd() (mouseover)=onHoverImg($event) (mouseleave)=onNormalImg($event)>
        </div>
        <div class="command book" [ngStyle]="{ width: widthBook }">
            <input id="book" #book type="text" title="Enter Bible book" (focus)=onFocusBook()>
            <div id="booklist" class="modal">
                <div class="modal-content">
                    <ul class="command-suggestions">
                    @for (book of bookList; track book) {
                        <li (click)=onClickBook(book.book) (mouseover)=onHoverLi($event) (mouseleave)=onNormalLi($event)>{{book.book}}</li>
                    }
                    </ul>
                </div>
            </div>
        </div>
        <div class="command chapter" [ngStyle]=" {width: widthChapter }">
            <input id="chapter" #chapter type="text" title="Enter chapter number" (focus)=onFocusChapter() [disabled]=isChapterDisabled>
            <div id="chapterlist" class="modal">
                <div class="modal-content">
                    <ul class="command-numbers">
                    @for (chapter of chapterList; track chapter) {
                        <li (click)=onClickChapter(chapter) (mouseover)=onHoverLi($event) (mouseleave)=onNormalLi($event)>{{chapter}}</li>
                    }
                    </ul>
                </div>
            </div>
        </div>
        <div class="command verse" [ngStyle]="{ width: widthChapter }">
            <input id="verse" #verse type="text" title="Enter starting verse number" (focus)=onFocusVerse() [disabled]=isVerseDisabled>
            <div id="verselist" class="modal">
                <div class="modal-content">
                    <ul class="command-numbers">
                    @for (verse of verseList; track verse) {
                        <li (click)=onClickVerse(verse) (mouseover)=onHoverLi($event) (mouseleave)=onNormalLi($event)>{{verse}}</li>
                    }
                    </ul>
                </div>
            </div>    </div>
        <div class="command end-verse" [ngStyle]="{ width: widthChapter }">
            <input id="endVerse" #endVerse type="text" title="Enter ending verse number" (focus)=onFocusEndVerse() [disabled]=isEndVerseDisabled>
            <div id="endverselist" class="modal">
                <div class="modal-content">
                    <ul class="command-numbers">
                    @for (endVerse of endVerseList; track endVerse) {
                        <li (click)=onClickEndVerse(endVerse) (mouseover)=onHoverLi($event) (mouseleave)=onNormalLi($event)>{{endVerse}}</li>
                    }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- @if (!citation) {
<section class="scrollable-content">
    <div class="search-results">
        <table class="row-clickable">
            <thead>
                <tr>
                    <th class="citation">Citation</th>
                    <th class="verses">Scripture</th>
                </tr>
            </thead>
            <tbody>
                @for(range of scriptureRanges; track range; let index = $index) {
                <tr aria-checked="false"
                    id="range_{{index}}"
                    (click)=onClickCitation($event)
                    (contextmenu)=showModalContextMenu($event)>
                    
                    <th class="citation">{{range.citation}}</th>
                    <td class="verses">{{range.verses}}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</section>
} -->
