<header class="bible-workbench">
  <h2>Work Bench</h2>
</header>

<nav class="bible-workbench">
  <div class="bible-workbench-menu">
    <button
      type="button"
      class="menu menu-icon-search"
      [class.is-active]="activeTool() === 'search'"
      (click)="setActiveTool('search'); onSearchClick()"
      title="Search scriptures">
      <i class="psmenu-icon"></i>
    </button>

    <button
      type="button"
      class="menu menu-icon-create"
      [class.is-active]="activeTool() === 'create'"
      (click)="setActiveTool('create'); onCreateClick()"
      title="Create themes and citations">
      <i class="psmenu-icon"></i>
    </button>

    <button
      type="button"
      class="menu menu-icon-edit"
      [class.is-active]="activeTool() === 'edit'"
      (click)="setActiveTool('edit'); onEditClick()"
      title="Edit theme or citation">
      <i class="psmenu-icon"></i>
    </button>

    <button
      type="button"
      class="menu menu-icon-delete"
      [class.is-active]="activeTool() === 'delete'"
      (click)="setActiveTool('delete'); onDeleteClick()"
       title="Delete theme or citation">
      <i class="psmenu-icon"></i>
    </button>

    <button
      type="button"
      class="menu menu-icon-import"
      [class.is-active]="activeTool() === 'import'"
      (click)="setActiveTool('import'); onImportClick()"
      title="Import from file or console">
      <i class="psmenu-icon"></i>
    </button>

    <button
      type="button"
      class="menu menu-icon-publish"
      [class.is-active]="activeTool() === 'publish'"
      (click)="setActiveTool('publish')"
      title="Publish scriptures from theme or citation">
      <i class="psmenu-icon"></i>
    </button>

    <button
      type="button"
      class="menu menu-icon-help"
      [class.is-active]="activeTool() === 'help'"
      (click)="setActiveTool('help'); onHelpClick()"
      title="Help">
      <i class="psmenu-icon"></i>
    </button>
  </div>
</nav>
<div class="ps-workbench-body">
  <router-outlet></router-outlet>
</div>
