<nav class="workbench-delete">
    <div class="workbench-settings">
        <button
            type="button"
            class="icon-settings"
            (click)="onClickSettings()"
            title="Settings for deleting - Theme or Citation">
            <i class="psmenu-icon" title="Settings for editing"></i>
        </button>
    </div>
    <div class="workbench-title">
        {{deleteType}}
        <div class="settings">
            <h3>Choose Delete Type:</h3>
            <div class="settings-selector" *ngFor="let item of deleteTypes; index as i">
                @if (i > 0) {
                <button
                    type="button"
                    class="icon-circle-{{i == activeType ? 'checked' : 'unchecked'}}"
                    (click)="onRadioClickSettings(i)">
                        <i class="psmenu-icon"></i>
                </button>
                <span>{{item}}</span>
                }
            </div>
        </div>
    </div>
</nav>
<section>
    @if(activeType == 0) {
    <div></div>
    }
    @else if(activeType == 1) {
    <app-delete-theme [activeThemeNode]="activeThemeNode"></app-delete-theme>
    }
    @else if(activeType == 2) {
    <app-delete-citation [activeCitationNode]="activeCitationNode"></app-delete-citation>>
    }
</section>