<div class="workbench-create">
    <div class="no-icon"></div><div class="header">Create Theme</div>
    <div class="icon icon-save">
        <button
            type="button"
            class="icon-save"
            (click)="CreateTheme()"
            title="Click to save, creating a new theme">
            <i class="psmenu-icon" title="Create and save a new theme"></i>
        </button>
    </div>
    <div class="field1"><input id="name" #name type="text" class="command-line" placeholder="Theme name" title="The name of the theme"></div>
    <div class="field2"><input id="description" #description type="text" class="command-line" placeholder="Theme description (optional)" title="The description of the theme"></div>
    <div class="command-message"></div>
</div>

