<nav class="scripture-range-editor">
</nav>
<section class="command-section">
  <div class="command-labels">
    <div class="command-label icon-spacer">&nbsp;</div>
    <div class="command-label book"><label>Book</label></div>
    <div class="command-label chapter"><label>Chapter</label></div>
    <div class="command-label verse"><label>Verse</label></div>
    <div class="command-label end-verse"><label>End Verse</label></div>
  </div>

  <div class="command-fields">
    <div class="command icon">
        <button
            type="button"
            class="icon icon-search"
            (click)="runShow()"
            title="Find scripture range by Book, Chapter, and range of Verses">
            <i class="psmenu-icon"></i>
        </button>
    </div>

    <div class="command book">
      <input id="book" #book type="text" title="Enter Bible book" (focus)="onFocusBook()">
      <div id="booklist" class="modal book-modal">
        <div class="modal-content">
          <ul class="command-suggestions">
            @for (book of bookList; track book) {
              <li (click)="onClickBook(book.book)" (mouseover)="onHoverLi($event)" (mouseleave)="onNormalLi($event)">
                {{book.book}}
              </li>
            }
          </ul>
        </div>
      </div>
    </div>

    <div class="command chapter">
      <input id="chapter" #chapter type="text" title="Enter chapter number" (focus)="onFocusChapter()" [disabled]="isChapterDisabled">
      <div id="chapterlist" class="modal number-modal">
        <div class="modal-content">
          <ul class="command-numbers">
            @for (chapter of chapterList; track chapter) {
              <li (click)="onClickChapter(chapter)" (mouseover)="onHoverLi($event)" (mouseleave)="onNormalLi($event)">
                {{chapter}}
              </li>
            }
          </ul>
        </div>
      </div>
    </div>

    <div class="command verse">
      <input id="verse" #verse type="text" title="Enter starting verse number" (focus)="onFocusVerse()" [disabled]="isVerseDisabled">
      <div id="verselist" class="modal number-modal">
        <div class="modal-content">
          <ul class="command-numbers">
            @for (verse of verseList; track verse) {
              <li (click)="onClickVerse(verse)" (mouseover)="onHoverLi($event)" (mouseleave)="onNormalLi($event)">
                {{verse}}
              </li>
            }
          </ul>
        </div>
      </div>
    </div>

    <div class="command end-verse">
      <input id="endVerse" #endVerse type="text" title="Enter ending verse number" (focus)="onFocusEndVerse()" [disabled]="isEndVerseDisabled">
      <div id="endverselist" class="modal number-modal">
        <div class="modal-content">
          <ul class="command-numbers">
            @for (endVerse of endVerseList; track endVerse) {
              <li (click)="onClickEndVerse(endVerse)" (mouseover)="onHoverLi($event)" (mouseleave)="onNormalLi($event)">
                {{endVerse}}
              </li>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="range-editor-message"></div>
</section>
<div class="range-editor-output">
@if (activeScriptureRange) {     
  <div id="range_editor_title" class="scripture-range container">
      <!-- <div class="left-icon">
          <i class="spin-arrow-icon" (click)="OpenCloseScriptureRange($event,i)" title="Expand to view scriptures"></i>
      </div> -->
      <div class="side">
          <div class="icon-add">
              <button
                  type="button"
                  class="icon-add"
                  (click)="addRange()"
                  title="Add this scripture range to the Citation">
                  <i class="psmenu-icon"></i>
              </button>
          </div>
          <div class="icon-close">
              <button
                  type="button"
                  class="icon-close"
                  (click)="cancelRange()"
                  title="Cancel">
                  <i class="psmenu-icon"></i>
              </button>
          </div>
      </div>
      <div class="citation-text">{{activeScriptureRange.citation}}</div>
      <div class="side">&nbsp;</div>
  </div>
  <div id="range_editor_content" class="scripture-text container">
    <div class="verses">
      {{activeScriptureRange.verses}}
    </div>
  </div>
  }
</div>
    <!-- <table class="row-clickable">
        <thead>
            <tr>
                <th class="citation">Citation</th>
                <th class="verses">Scripture</th>
            </tr>
        </thead>
        <tbody>
            <tr aria-checked="false">
                <th class="citation" title="Click the Plus (+) Icon to add this scripture range to the Citation">{{activeScriptureRange.citation}}</th>
                <td class="verses" title="Click the Plus (+) Icon to add this scripture range to the Citation">{{activeScriptureRange.verses}}</td>
            </tr>
        </tbody>
    </table> -->
