<div class="workbench-edit">
    <div class="header">Edit Theme</div>
    <div class="theme theme-icon"><img src="/assets/images/Folder.png" title="Navigate by Theme Tree to the target folder"></div>
    <div class="theme selected missing">
        Please select the <b>Theme</b> from the <b>Bible Theme Tree</b>
    </div>
</div>
<nav class="cite-scripture">
    <div class="workbench-settings">
        <i class="theme edit-icon" (click)="EditTheme()" title="Click to Save Changes"></i>
    </div>
    <input id="name" #name type="text" class="command-line" placeholder="Theme Name" title="The name of the theme">
    <input id="description" #description type="text" class="command-line" placeholder="Theme Description" title="The description of the theme">
    <div class="command-message"></div>
</nav>
<section class="scrollable-content">
    <div class="resequencing">
    @if (editedTheme) {
        @if (editedTheme.themes.length > 0) {
        <div class="childThemes">
            <div class="theme-member">
                <i class="spin-arrow-icon" (click)="OpenCloseThemeList()"></i>
                <span>Sub-Themes ({{editedTheme.themes.length}})</span>
            </div>
            <div cdkDropListGroup class="themes-container" style="display: none">
                <div
                    cdkDropList
                    [cdkDropListData]="childthemes"
                    class="themes-list"
                    (cdkDropListDropped)="onThemeDrop($event)"
                    (cdkDropListSorted)="onThemeResequencing($event)"
                >
                    @for (theme of childthemes; track theme) {
                    <div cdkDrag attr.node="theme{{theme.theme.id}}" class="draggable-theme" title="Drag and drop themes to resequense">           
                        <div class="draggable-sequence">{{theme.theme.sequence}}</div>
                        <div class="draggable-label">{{theme.theme.name}}</div>
                        <div class="draggable-description">{{theme.theme.description}}</div>
                    </div>
                    }
                </div>
            </div>
        </div>
        } 
        @if (editedTheme.themeToCitationLinks.length) {
        <div class="childCitations">
            <div class="theme-member">
                <i class="spin-arrow-icon" (click)="OpenCloseCitationList()"></i>
                <span>Citations ({{editedTheme.themeToCitationLinks.length}})</span>
            </div>
            <div cdkDropListGroup class="citations-container" style="display: none">
                <div
                    cdkDropList
                    [cdkDropListData]="citations"
                    class="themes-list"
                    (cdkDropListDropped)="onCitationDrop($event)"
                    (cdkDropListSorted)="onCitationResequencing($event)"
                >
                    @for (citation of editedTheme.themeToCitationLinks; track citation) {
                    <div cdkDrag attr.node="citation{{citation.themeToCitation.id}}" class="draggable-citation" title="Drag and drop citations to resequense">           
                        <div class="draggable-sequence">{{citation.themeToCitation.sequence}}</div>
                        <div class="draggable-label">{{citation.themeToCitation.citation.citationLabel}}</div>
                        <div class="draggable-description">{{citation.themeToCitation.citation.description}}</div>
                    </div>
                    }
                </div>
            </div>
        </div>
        } 
    }
    </div>
</section>
