<!-- <div class="import-page"> -->
    <nav class="workbench-import">
        <div class="workbench-settings">
            <button
                type="button"
                class="icon-settings"
                (click)="onClickSettings()"
                title="Settings for editing - Theme or Citation">
                <i class="psmenu-icon" title="Settings for editing"></i>
            </button>
        </div>
        <div class="workbench-title">
            {{importType}}
            <div class="settings">
                <h3>Choose Import Type:</h3>
                    @for(item of importTypes; track $index;) {
                        @if ($index > 0) {
                <div class="settings-selector">
                    <button
                        type="button"
                        class="icon-circle-{{$index == activeType ? 'checked' : 'unchecked'}}"
                        (click)="onRadioClickSettings($index)">
                            <i class="psmenu-icon"></i>
        
                    </button>
                    <span>{{item}}</span>
                </div>
                        }
                    }
            </div>
        </div>
    </nav>
    <section class="scrollable">
        @if(activeType == 0) {
        <div></div>
        }
        @else if(activeType == 1) {
        <app-import-console></app-import-console>
        }
        @else if(activeType == 2) {
        <app-import-file></app-import-file>
        }
    </section>
<!-- </div> -->