.workbench-delete {
    background-color: black;
    color:white;
}

nav {
    background-color: black;
    color: white;
}
.workbench-delete .header {
    margin-left: 36px;
    font-weight: bold;
}

.workbench-delete div.theme {
    display: inline;
    overflow-x: auto;
    overflow-y: none;
    color:gold;
    font-weight:500;
}

input[type=text].command-line {
    color:blue;
    font-weight: bold;
}
.workbench-delete div.selected.missing {
    color: red;
    background-color: black;
}
.theme-member {
    border: 2px solid darkslategray;
    background-color:field;
    color: black;
    font-weight: bold;
    padding-top: 4px;
    padding-left: 4px;
}
.delete.icon {
    height:24px;
    width: 24px;
    float: left;
}
div.delete {
    float: left;
}

.delete-labels {
    background-color: black;
    text-align: center;
}
.delete-fields {
    background-color: black;
    float: left;
    padding: 0;
}
div.delete-label {
    color: white;
    font-weight: bold;
    font-family:Verdana,sans-serif;font-size:12pt;
    padding: 0;
    float: left;
    background-color: black;
}

.delete input[type=text] {
    width: 100%;
    color: black;
}
