<div class="workbench-delete">
    <div class="no-icon"></div><div class="header">Delete Theme</div>
    <div class="theme icon icon-folder"><i class="psmenu-icon" title="Navigate by Theme Tree to the target folder"></i></div>
    <div class="theme selected missing">
        Please select the <b>Theme</b> to Delete from the <b>Bible Theme Tree</b>
    </div>
    <div class="icon icon-delete">
        <button
            type="button"
            class="icon-delete"
            (click)="DeleteTheme()"
            title="Click to delete the selected theme">
            <i class="psmenu-icon"></i>
        </button>
    </div>
    <div class="field1"><input id="name" #name type="text" title="The name of the theme" readonly></div>
    <div class="field2"><input id="description" #description type="text" title="The description of the theme" readonly></div>
    
    <div class="no-icon"></div>
    <div class="field2"><div class="command-message"></div></div>
    
    <div class="no-icon"></div>
    <div class="field2">
        <div class="command-warning" style="display: none;">
            WARNING: Deleting a theme is irreversible. Are you sure you want to delete this theme and its contents?<br/><br/>
            Theme contains {{subthemeCount}} subthemes and {{citationCount}} citations.<br/>
            <button (click)=DeleteAll()>Delete All</button> <button (click)=Cancel()>Cancel</button>
        </div>
    </div>
</div>
