<div class="active-verse">

  <div class="pristine-wrap">
    <!-- Overlay (visible) -->
    <div class="overlay" [innerHTML]="overlayHtml()"></div>

    <!-- Pristine editor (invisible text but selectable) -->
    <div
      #pristine
      class="pristine"
      contenteditable="true"
      spellcheck="false"
      (mouseup)="onMouseUpOrKeyUp()"
      (keyup)="onMouseUpOrKeyUp()"
      (blur)="onBlur()">
    </div>
  </div>

  @if (hasAnyMarkups()) {
    <div class="rendered-active-verse" [innerHTML]="renderedActiveVerseHtml()"></div>
  }

</div>
