<div class="workbench-create">
    <div class="no-icon"></div><div class="header">Create Citation</div>
    <div class="icon icon-save">
        <button
            type="button"
            class="icon-save"
            (click)="CreateCitation()"
            title="Click to save, creating a new citation">
            <i class="psmenu-icon" title="Create a new citation and enter the editor"></i>
        </button>
    </div>
    <div class="field1"><input id="description" #description type="text" class="command-line" placeholder="Citation description (optional)" title="The description of the theme"></div>
    <div class="command-message"></div>
</div>
<div class="ps-action-btn" style="display: none;">
    <button
        type="button"
        class="edit-button"
        (click)="EditCitation()"
        title="Click to edit new citation">
        <i class="edit-icon"></i>
        <span>Edit Citation</span>
    </button>
</div>