app-edit-scripture-range-context-menu.modal-context {position:relative; display:block; top: 80px; left: 100px; z-index: 1}
app-edit-scripture-range-context-menu.modal-context.hidden {position:relative; display:none; z-index:1}
app-edit-scripture-range-context-menu {position:relative;}
div.context-menu.hidden {
    position:relative;
    display:none;
    top:0px;
    left:0px;
}
div.context-menu-item {
    text-wrap:nowrap;
    display:block;
    text-decoration: none;
    padding: 0 2em 0 2em;
    width: auto;
    color: black;
    line-height: 2.4em;
    text-shadow: 1px 1px 0 white;
    border-top: 1px solid #979797;
    border-radius: 1px;
    cursor: pointer;
}
div.context-menu {
    margin: 0;
    padding: 2px;
    background: #f5f5f5;
    border: 1px solid #979797;
    box-shadow: 2px 2px 2px #999999;
}
div.context-menu-item:hover {
    background: #e8eff7;
}
.prevent-text-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}