.static {
    position: relative;
    background: rgba(255, 255, 255, 0.76);
    border-radius: 8px;
    border: 4px solid gold;
    box-shadow: inset 0 0 0 3px black;
    outline: 1px black;
    padding: 20px;
    font-weight: bold;
    font: verdana;
}

.workbench-edit {
    background-color: black;
    color:white;
}
.workbench-edit .header {
    margin-left: 36px;
    font-weight: bold;
}

.workbench-edit div.citation {
    display: inline;
    overflow-x: auto;
    overflow-y: none;
    color:gold;
    font-weight:500;
}
.workbench-edit div.selected.missing {
    color: red;
    background-color: black;
}
.workbench-edit {
    background-color: black;
    color:white;
}

.workbench-edit .header {
    margin-left: 36px;
    font-weight: bold;
}


.scrollable-content .header {
    padding-left: 36px;
    font-weight: bold;
    background-color: black;
    color: white;
}

.workbench-edit div.selected.missing {
    color: red;
    background-color: black;
}
.theme-member , .scripture-range, .citation-verse {
    border: 2px solid darkslategray;
    background-color:field;
    color: black;
    font-weight: bold;
    padding-top: 4px;
    padding-left: 4px;
}

.draggable-row {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    cursor: grab;
}

.theme-member span {
    position:relative;
    bottom: 5px;
    left: 6px;
}
.spin-arrow-icon {
    display:inline-block;
    background-color: field;
    width:24px;
    height:24px;
    background-size:contain;
}
.command.icon {
    height:24px;
    width: 24px;
    float: left;
}
div.command {
    float: left;
}

.command-labels {
    background-color: black;
    text-align: center;
}
.command-fields {
    background-color: black;
    float: left;
    padding: 0;
}
div.command-label {
    color: white;
    font-weight: bold;
    font-family:Verdana,sans-serif;font-size:12pt;
    padding: 0;
    float: left;
    background-color: black;
}

.command input[type=text] {
    width: 100%;
    color: black;
}

section.scrollable-content {
    height:calc(100vh);
    width:100%;
}

div.scrolling { width:100%; height: 95%; overflow-y: auto; }

.search-results table {
    width: 100%;
}

thead { background: rgb(1, 1, 110) }
th {
    background:rgb(1, 1, 110); border-top: 1px solid white;
    color:white;
    font-weight: bold;
    font-family:Verdana,sans-serif;font-size:12pt;
    padding: 0;
    display:table-cell;
}
tbody input[type=text] {
    cursor: auto;
    display: table-cell;
    width: 100%
}

tbody a { cursor: pointer; }

.modal {
    display: none;
    position: relative;
    z-index: 1;
    left: 2px;
    top: 2px;
    width: 200px;
    height: 200px;
    overflow-y: auto;
    background-color: lightgray;
    color: darkslategray;
    font-weight: normal;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 5px;
    border: 1px solid #888;
    width: 80%;
}

ul.command-suggestions, ul.command-numbers {
    list-style-type: none;
    cursor: pointer;
    padding-left: 10px;
}

.command-suggestions li.hover {
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.command-numbers li.hover {
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.command-numbers li {
    text-align: center;
}

.illegal {
    color: rgb(172, 0, 0);
    font-weight: bold;
}

.legal {
    color: rgb(0, 0, 172);
    font-weight: bold;
}

.command.icon img.hover {
    cursor: pointer;
    border-left: 1px solid white;
    border-top: 1px solid white;
}

.search-results table {
    width: 100%;
}

.search-results thead th  {
    background:rgb(1, 1, 110); border-top: 1px solid white;
    color:white;
    font-weight: bold;
    font-family:Verdana,sans-serif;font-size:12pt;
    overflow-x:auto;
    display:table-cell;
}

.search-results tbody th,.search-results tbody td {
    border-top: 1px solid rgb(1, 1, 110);
    border-right: 1px solid rgb(1, 1, 110);
}
.prevent-text-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

th.citation-label {
    text-align:left;
}

th.citation {
    background:none;
    color: black;
    text-align:left;
    font-weight: bold;
}

th.scripture-label {
    text-align:center;
}

div.scripture-range, div.citation-verse {
    display: flex;
    height: 32px;
    background-color: field;
    align-items: center;
}

div.scripture-range span, div.citation-verse span {
    margin-left: 6px;
    font-weight: bold;
}

.scripture-range.container, .citation-verse.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 10px;
    min-height: 40px;
    height: auto;
    border-radius: 5px;
}

.scripture-range .left-icon, .citation-verse .left-icon {
    flex-shrink: 0;
    margin-top: 4px;
    margin-right: 10px;
}

.scripure-range .text, .citation-verse .text {
    flex-grow: 1;
    margin-right: 10px;
    word-wrap: break-word;
}

.scripture-range .right-icons, .citation-verse .right-icons {
    display: flex;
    gap: 5px;
    flex-shrink: 0;
}

tr[aria-checked="true"] { cursor: pointer; background-color: rgba(3, 213, 250, 0.719); position: relative;}
tr[aria-checked="false"] { cursor: pointer; background-color: none; position: relative;}

app-cite-context-menu.modal-context {position:relative; display:block; top: 80px; left: 100px; z-index: 1}
app-cite-context-menu.modal-context.hidden {position:relative; display:none; z-index:1}
app-cite-context-menu {position:relative;}
div.modal-context {position:absolute;}
nav.cite-scripture {
    padding: 4px;
    background-color: black;
}
.description {
    background-color: black;
}
.draggable-sequence {
    width: 10%;
    display:inline-block;
    text-align: right;
    font-weight: bold;
    padding-right: 10px;
}
.draggable-label {
    width:90%;
    display:inline-block;
}
.draggable-description {
    width: 100%;
    display:block;
}
.draggable-theme, .draggable-citation {
    background-color: rgba(200, 200, 200, 0.6);
    display: block;
    border: 1px solid black;

}

.cdk-drop-list {
    cursor: grab;
}

.cdk-drag-preview {
    box-sizing: border-box;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.14),
     0 3px 14px 2px rgba(0, 0, 0, 0.12);
     background-color:rgba(3, 213, 250, 0.85);
}

.hidden {
    display: none;
}

.markup-editor {
    display: flex;
    flex-direction: column;    
}

.top-row {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
}

app-citation-verse-markup-toolbox {
    width:200px;
    flex: 0 0 auto;
    padding: 2px;
    box-sizing: border-box;
    overflow-y: auto;
}

app-citation-verse-workarea {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}