<!-- Edit Citation header and warning message -->
<div class="workbench-edit">
    <div class="header">Edit Citation</div>
    <div class="citation citation-icon"><img src="/assets/images/Script.png" title="Navigate by Theme Tree to the target citation"></div>
    <div class="citation selected missing">
        Please select the <b>Citation</b> from the <b>Bible Theme Tree</b>
    </div>
</div>
@if (activeCitationNode()) {
    <!-- A citation has been selected -->
    @if (!activeScriptureRange().citationId) {
        <!-- Discription Editor -->
<nav class="cite-scripture">
    <div class="workbench-settings">
        <i class="citation save-icon" (click)="EditCitationDescription()" title="Click to Save changes to the Citation Description"></i>
    </div>
    <div class="input">
        <input
            id="citationDescription"
            type="text"
            title="Enter citation description"
            placeholder="Type description here"
        >
    </div>
    <div class="command-message"></div>
</nav>
        <!-- Range List Editor (adds new ranges to the citation) -->
<div class="scripture-range-editor">
    <app-scripture-range-editor [citation]="editedCitation" (rangeAdded)="onRangeAdded($event)"></app-scripture-range-editor>
</div>
    }
    @else if (activeScriptureRange().citationId == editedCitation.id && activeVerse().id == 0) {
        <!-- Markup Selector header -->
<div id="activeScriptureRange" class="scripture-range container">
    <div class="text">Select Verse for Markup - {{activeScriptureRange().citation}}</div>
    <div class="right-icons">
        <i class="close-icon" (click)="OnCloseSelectedRange()" title="Close Scripture Range"></i>
    </div>
</div>
    }
    @else {
        <!-- Markup Editor mode -->
<div id="activeVerse" class="citation-verse container">
    <div class="text">Markup Editor - {{activeVerse().verseCitationLabel}}</div>
    <div class="right-icons">
        <i class="save-icon" (click)="OnSaveMarkups()" title="Save Citation Verse Markups"></i>
        <i class="close-icon" (click)="OnCancelMarkups()" title="Cancel Citation Verse Markup Editor"></i>
    </div>
</div>
    }
}
<!-- Markup Selector/Editor body (content is scrollable) -->
<section class="scrollable-content">
    <div class="await"></div>
    <div class="scrolling" #scrollableContent>
@if (activeCitationNode()) {
    <!-- A citation is active for editing -->
    @if (scriptureRanges() && scriptureRanges().length > 0) {
        <!-- A range of consecutive scriptures in the active citation has been selected -->
        @if (activeScriptureRange().citationId && activeScriptureRange().citationId == editedCitation.id && activeVerse().id == 0) {
        <app-citation-verse-select
            [verses]="activeVerses()"
            (markupClicked)="onVerseSelected($event)"
            (hideChanged)="onHideVerseChanged($event)"
        ></app-citation-verse-select>
        }
        @else if (activeScriptureRange().citationId && 
            activeScriptureRange().citationId == editedCitation.id &&
            activeVerse().id > 0) {
        <!-- Active Scripture Range selected for Markup Editing -->
        <div class="header" title="Highlight sections of text to markup">Citation Scripture Verse Markup</div>
        <div class="markup-editor">
            <div class="top-row">
                <app-citation-verse-markup-workarea
                    [activeVerses]="activeVerses"
                    [activeVerse]="activeVerse"
                    (verseSessionEnded)="onVerseSessionEnded($event)">
                </app-citation-verse-markup-workarea>
            </div>
        </div>
        }
        @else {
    <!-- Scripture Range List Selector (selects ranges for markup or deletion from citation) -->
            @for (range of scriptureRanges(); track range.citation; let i = $index) {
        <div id="range_{{i}}_title" class="scripture-range container" aria-checked="false">
            <div class="left-icon">
                <i class="spin-arrow-icon" (click)="OpenCloseScriptureRange($event,i)" title="Expand to view scriptures"></i>
            </div>
            <div class="text">{{range.citation}}</div>
            <div class="right-icons">
                <i class="edit-icon" (click)="EditScriptureRange(i)" title="Edit this scripture range"></i>
                <i class="delete-icon" (click)="DeleteScriptureRange(i)" title="Delete this scripture range"></i>
            </div>
        </div>
        <div id="range_{{i}}_content" class="scripture-text" style="display: none;">
            {{range.verses}}
        </div>
            }
        }
    }
}
    </div>
</section>
