<div class="workbench-edit">
    <div class="header">Edit Citation</div>
    <div class="citation citation-icon"><img src="/assets/images/Script.png" title="Navigate by Theme Tree to the target citation"></div>
    <div class="citation selected missing">
        Please select the <b>Citation</b> from the <b>Bible Theme Tree</b>
    </div>
</div>
@if (activeCitationNode()) {
<nav class="cite-scripture">
    <div class="workbench-settings">
        <i class="citation save-icon" (click)="EditCitationDescription()" title="Click to Save changes to the Citation Description"></i>
    </div>
    <div class="input">
        <input
            id="citationDescription"
            type="text"
            title="Enter citation description"
            placeholder="Type description here"
        >
    </div>
    <div class="command-message"></div>
</nav>
    @if (activeRoute == "edit/citation") {
<div class="scripture-range-editor">
    <app-scripture-range-editor [citation]="editedCitation" (edited)="onRangeAdded($event)"></app-scripture-range-editor>
</div>
    }
<section class="scrollable-content">
    <div class="scrolling" #scrollableContent>
    @if (scriptureRanges()) {
        @for (range of scriptureRanges(); track range.citation; let i = $index) {
        <div id="range_{{i}}_title" class="scripture-range container" aria-checked="false">
            <div class="left-icon">
                <i class="spin-arrow-icon" (click)="OpenCloseScriptureRange($event,i)" title="Expand to view scriptures"></i>
            </div>
            <div class="text">{{range.citation}}</div>
            <div class="right-icons">
                <i class="edit-icon" (click)="EditScriptureRange(i)" title="Edit this scripture range"></i>
                <i class="delete-icon" (click)="DeleteScriptureRange(i)" title="Delete this scripture range"></i>
            </div>
        </div>
        <div id="range_{{i}}_content" class="scripture-text" style="display: none;">
            {{range.verses}}
        </div>
        }
    }
    </div>
</section>
}
@else {
<section class="scrollable-content">
    <div class="scrolling"></div>
</section>
}