<div class="workbench-edit">
    <div class="header">Edit Citation</div>
    <div class="citation citation-icon"><img src="/assets/images/Script.png" title="Navigate by Theme Tree to the target citation"></div>
    <div class="citation selected missing">
        Please select the <b>Citation</b> from the <b>Bible Theme Tree</b>
    </div>
</div>
<nav class="cite-scripture">
    <div class="workbench-settings">
        <i class="citation edit-icon" (click)="EditCitation()" title="Click to Save Changes"></i>
    </div>
    <div class="input">
        <input
            id="description"
            #description
            type="text"
            title="Enter citation description"
            placeholder="Type description here"
        >
    </div>
</nav>
<div class="scripture-range-editor hidden">
    <app-scripture-range-editor></app-scripture-range-editor>
</div>
<section class="scrollable-content">
    <div class="scrolling">
    @if (scriptureRanges) {
        @for (range of scriptureRanges; track range; let i = $index) {
        <div id="range_{{i}}_title" class="scripture-range">
            <i class="spin-arrow-icon" (click)="OpenCloseScriptureRange(i)" title="Expand to view scriptures"></i>
            <span>{{range.citation}}</span>
        </div>
        <div id="range_{{i}}_content" class="scripture-text" style="display: none;">
            {{range.verses}}
        </div>
        }
    }
    </div>
</section>