<div #consoleRoot class="ps-console" (mousedown)="onConsoleMousedown($event)" (contextmenu)="onConsoleContextMenu($event)">
  <div #scrollArea class="ps-console-output">
    @for (line of outputLines(); track line.id) {
      <div
        class="ps-line"
        [class.ps-err]="line.level === 'error'"
        [attr.data-anchor]="line.anchor || null">
        <div class="ps-line-text">{{ line.text }}<span class="ps-memo">{{line.memo}}</span></div>
      </div>
    }
  </div>

  <div class="ps-console-input-row">
    <div class="ps-prompt">❯</div>

    <textarea
      #inputEl
      class="ps-input"
      [value]="inputText()"
      (input)="onInput($event)"
      (keydown)="onKeyDown($event)"
      rows="1"
      spellcheck="false"
      autocomplete="off"
      autocapitalize="off"
      placeholder="Type here"
    ></textarea>
    <!-- <button class="ps-btn ps-btn-blue" type="button" (click)="submit()">
      Run
    </button> -->
  </div>
</div>
